// Colors
$color-primary: cornflowerblue;
$color-secondary: lime;
$color-tertiary: purple;

// Margins
$margin-medium: 50px;
$margin-large: 100px;

$padding-medium: 5px;
$padding-large: 10px;

// Layout
$max-width: 1200px;
$gutter: 10px;

// Breakpoints
$breakpoints: (
  'xs': 575px,
  's': 576px,
  'm': 768px,
  'l': 992px,
);

// Theme colors
$themes: (
  'ent': #79ccf5,
  'aut': salmon,
  'thi': gold,
  'four': steelblue
);