// Colors
$color-primary: cornflowerblue;
$color-secondary: lime;
$color-tertiary: purple;

// Margins
$margin-medium: 50px;
$margin-large: 100px;

$padding-medium: 5px;
$padding-large: 10px;

// Layout
$max-width: 1200px;
$gutter: 10px;

// Breakpoints
$break-xs: 575px;
$break-s: 576px;
$break-m: 768px;
$break-l: 992px;
