/* BUTTON STYLING ------------------------ */

a {
  color: $color-primary;
  margin: $margin-medium;
  &:hover {
    color: $color-secondary;
  }
}

//extends button classes ------------------------- /
.btn {
  border: 1px solid $color-tertiary;
  padding: $padding-medium;
  font-size: 1em;

  &-alert {
    @extend .btn;
    background: $color-secondary;
  }

  &-valid {
    @extend .btn;
    margin: $margin-large;
  }
}

//extends button classes with placeholders ---------- /
%button {
  border: 1px solid $color-tertiary;
  text-transform: uppercase;
  padding: $padding-medium;
  font-size: 1em;
  &:hover {
    color: $color-primary;
    opacity: 0.8;
  }
  &:active {
    opacity: 1;
  }
}

.button {
  &-alert {
    @extend %button;
    background: $color-primary;
  }

  &-valid {
    @extend %button;
    background: $color-secondary;
  }
}
