/* FLEXBOX LAYOUT -------------------------- */

.card {
  @include flexy($dir: column);
  padding: 1.5em 1em;
  border: 1px solid $color-primary;
  border-radius: 0.25em;
  margin: $gutter;

  h1 {
    color: $color-secondary;
    margin: 0.35em 0 0;
    line-height: 1.25;
  }

  // arrange layout with per-line function
  @include med-qur(s) {
    flex: 1 per-line(2);
  }

  @include med-qur(m) {
    flex: per-line(3);
  }

}

.card-content {
  @include flexy($wrap: wrap);

  @include med-qur(m) {
    @include center(90%);
  }

}
