footer {
  padding: 2em 0 0;
  height: 100px;
  background-color: $color-tertiary;
  margin-top: 3.5em;
  position: relative;
  &::before {
    @include skewed;
    background-color: $color-primary;
    top: -25px;
  }
}
