/* IMAGES STYLING -------------------------- */

.img-featured {
  @include roundy(165px, 4px solid $color-primary);
  margin-top: 75px;
  position: relative;
  z-index: 100;

  @include med-qur(xl) {
    display: none;
  }

}

.img-featured-keywords {
  @include roundy($border: 2px solid $color-secondary, $dim: 150px );
  margin-top: 75px;
  position: relative;
  z-index: 100;

  @include med-qur(md) {
    display: none;
  }

}
