/* TITLES STYLING -------------------------- */

header {
  @include skewed;
}

h1 {
  @include center(90%);
  color: $color-primary;
  border: 1px solid $color-secondary;
  padding: 20px;
  .main & {
    color: $color-tertiary;
  }
  &-modifier{
    visibility: hidden;
  }
}
